
 .container {
    display: flex;
    padding: 0;
    margin-bottom: 0;
}

nav .container li {
    flex: 1;
    padding: 1px;
    text-align: center;
    font-size: 1em;
    color: cornsilk;
    box-sizing: border-box;
    background-color: rgb(174, 194, 230);
    list-style-type: none;
}